/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    .container {
      width: auto;
    }
  }
}

.page-header {
  color: @white;
  background-color: @brand-secondary;
  margin-top: 0;
  margin-bottom: 40px;
  & > .container {
    padding-top: 100px;
    padding-bottom: 40px;
    h1 {
      font-size: 40px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      color: rgba(255, 255, 255, .75);
      font-weight: 300;
      margin-bottom: 0;
      line-height: 1.4;
    }
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  height: 545px;
  margin-bottom: 60px;
  .item {
    height: 500px;
    background-color: @brand-secondary;
  }
}

.carousel-caption {
  z-index: 10;
  left: 20%;
  right: 20%;

}

.carousel-inner {
  & > .item {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-height: 500px;
  }
}

.carousel-control {
  .ag-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    left: 50%;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#top_menu {
  & > li {
    display: inline-block;
    margin-left: 20px;
    & > a {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      color: rgba(255, 255, 255, .75);
      border-bottom: 2px solid transparent;
    }
  }
}

#top_menu & > li & > a:hover, .masthead-nav & > li & > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}

#top_menu & > .active & > a, .masthead-nav & > .active & > a:hover, .masthead-nav & > .active & > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}